@font-face {
    font-family: 'Lato';
    src: url('font/Lato-Black.ttf');
}

.sale_cell{
    border-style: solid;
    border-width: 2px;
    border-color:rgb(224, 224, 224);
    display: grid;
    row-gap: 10px;
    width: 220px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
    padding-bottom: 10px;
    place-items: center;
}

.img_c1{
    width: 220px;
    height: 220px;
    border: 1px solid blue;
    object-fit: cover;
    
}

p{
    text-align: center;
}

button{
    margin-left: 35%;
}

.JewelryName{
    font-family: 'Lato';
}

.JewelryPrice{
    font-family: 'Lato';
    
}

.buttonbox{
    
}
.addtocart{
    margin-left:0px;
    background-color: black;
    border:none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    
    
}