@font-face {
    font-family: 'Lato';
    src: url('font/Lato-Black.ttf');
}
body{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header_logo{
    background-color: lightblue;

}

.img_logo{
    height: 50px;
    object-fit:cover ;
    width: 50px;
}

.header_neviBar{
    background-color: lightpink;
}
.header_searchBar{
    background-color: lightblue;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 400px;
}
.searchBar{
    width: 1fr
}


.header_cart{
    background-color: lightpink;
}

.sale_cell{
    border-style: solid;
    border-width: 2px;
    border-color:rgb(224, 224, 224);
    display: grid;
    row-gap: 10px;
    width: 220px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
    padding-bottom: 10px;
    place-items: center;
}

.img_c1{
    width: 220px;
    height: 220px;
    border: 1px solid blue;
    object-fit: cover;
    
}

p{
    text-align: center;
}

button{
    margin-left: 35%;
}

.JewelryName{
    font-family: 'Lato';
}

.JewelryPrice{
    font-family: 'Lato';
    
}

.buttonbox{
    
}
.addtocart{
    margin-left:0px;
    background-color: black;
    border:none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    
    
}