@font-face {
    font-family: 'Lato';
    src: url('font/Lato-Black.ttf');
}
body{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header_logo{
    background-color: lightblue;

}

.img_logo{
    height: 50px;
    object-fit:cover ;
    width: 50px;
}

.header_neviBar{
    background-color: lightpink;
}
.header_searchBar{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 400px;
}

form {

    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
  }
.searchBar{
    width: 100%;
    border: none;
    margin: 0;
    height: 30px;
}

.submitButton{
    padding: 0;
    margin-left: 0;
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    border: 1px solid transparent;
    cursor: pointer;
    opacity: 0.7;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
}




.header_cart{
    background-color: lightpink;
}

.cart_icon{
    width: 40px;
    object-fit: cover;
    
}

.sale_cell{
    border-style: solid;
    border-width: 2px;
    border-color:rgb(224, 224, 224);
    display: grid;
    row-gap: 10px;
    width: 220px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
    padding-bottom: 10px;
    place-items: center;
}

.img_c1{
    width: 220px;
    height: 220px;
    border: 1px solid blue;
    object-fit: cover;
    
}

p{
    text-align: center;
}

button{
    margin-left: 35%;
}

.JewelryName{
    font-family: 'Lato';
}

.JewelryPrice{
    font-family: 'Lato';
    
}

.buttonbox{
    
}
.addtocart{
    margin-left:0px;
    background-color: black;
    border:none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    
    
}